<style type="text/css">
body{
  background-color: #bbf27d;
}
*{
    font-family: 'Ubuntu', sans-serif;
}
footer{

  margin-top: 20px;
  padding-top: 20px;
}
.bg__card__navbar{
  background-color: #000000;
}
.bg__card__footer{
  background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}
</style>
{{#if hasErrors }}
	<div class="alert alert-danger">
		{{# each messages }}
			<p> {{ this }} </p>
		{{/each}}
	</div>
{{/if}}
<main>
  <!---->

<div class="container bg-info p-5">
  <div style="padding: 15px; background-color: white;">
    <a href="/admin/dashboard">Admin Dashboard</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- <form action="#">
          <input type="text" placeholder="Search for Student" name="search">
          <small>search by name</small>
          <button type="submit">Submit</button>
        </form> -->
    </div>
    <div class="col-sm-4">
      <form action="/admin/search-class" method="post">
          <select name="class">
                <option>Class or Standard</option>
                <option name="class">KG 1</option>
                <option name="class">KG 2</option>
                <option name="class">Nursery 1</option>
                <option name="class">Nursery 2</option>
                <option name="class">Primary 1</option>
                <option name="class">Primary 2</option>
                <option name="class">Primary 3</option>
                <option name="class">Primary 4</option>
                <option name="class">Primary 5</option>
                <option name="class">JSS 1</option>
                <option name="class">JSS 2</option>
                <option name="class">JSS 3</option>
                <option name="class">SS 1</option>
                <option name="class">SS 2</option>
                <option name="class">SS 3</option>
              </select>
          <small>search by class</small>
          <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
</div>

<div class="container my-5">
       <div class="card-body text-center">
    <h4 class="card-title">Honeylane Schools Admin Dashboard</h4>
  </div>
    {{#if hasErrors }}
      <div class="alert alert-danger">
        {{# each messages }}
          <p> {{ this }} </p>
        {{/each}}
      </div>
    {{/if}}
    <div class="card">
        <button id="add__new__list" type="button" class="btn btn-primary position-absolute"  data-toggle="modal" data-target="#myModal"><i class="fas fa-plus"></i> Add a new Student</button>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Class</th>
                <th scope="col">Age</th>
                <th scope="col">Delete Student </th>
              </tr>
            </thead>
            {{# each student}}
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>{{ fullname }}</td>
                <td>{{ class }}</td>
                <td>{{ age }} years old</td>
                <td>
                    <!-- <a class="btn btn-info" role="button" data-toggle="modal" data-target="#editModal">Edit</a> -->
                    <a class="btn btn-sm btn-danger" href="/admin/delete-student/{{_id}}"><i class="fas fa-trash-alt"></i> delete</a>    
                </td>
              </tr>
            </tbody>
            {{/each}}
          </table>
          
    </div>
    <!-- Large modal -->
  </div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="banner-form-w3 ml-lg-5">
              <div class="padding">
                  <!-- banner form -->
                  <form action="/admin/add-new-student" method="post">
                      <h5 class="mb-3">Add New Student</h5>
                      <div class="form-style-w3ls">
                          <input placeholder="Student Name" name="fullname" type="text" required="">
                          <input placeholder="Age" name="age" type="text" required="">
                          <select name="class">
                            <option>Class or Standard</option>
                            <option name="class">KG 1</option>
                            <option name="class">KG 2</option>
                            <option name="class">Nursery 1</option>
                            <option name="class">Nursery 2</option>
                            <option name="class">Primary 1</option>
                            <option name="class">Primary 2</option>
                            <option name="class">Primary 3</option>
                            <option name="class">Primary 4</option>
                            <option name="class">Primary 5</option>
                            <option name="class">JSS 1</option>
                            <option name="class">JSS 2</option>
                            <option name="class">JSS 3</option>
                            <option name="class">SS 1</option>
                            <option name="class">SS 2</option>
                            <option name="class">SS 3</option>
                          </select>
                          <!--<input placeholder="Password" name="password" type="password" required=""> -->
                          <button Class="btn"> Submit </button>
                      </div>
                  </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
<!---->


</body>