<style type="text/css">
	*{
	    font-family: 'Ubuntu', sans-serif;
	}
	.result-header{
		text-align: center;
		background-color: #C0C0C0;
	}
    .subjects {
      display: block;
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
</style>
<div class="result-header">
	<h3>HONEYLANE SCHOOLS</h3><p>(Government Approved)</p>
	<h4>3, FAVOR STREET, UNITY ESTATE, ABULE EGUN, MOWE, OGUN STATE.</h4>
	<p>Tel.: 08185432167, 08180058182</p>
	<h6>{{# result }}<strong> {{ year }} ACADEMIC SESSION</strong>{{/result}}</h6>
</div>
<div class="container">
	<div class="row">
		{{# student }}
		<div class="col-md-4">
			<p>Name : {{ fullname }}</p>
			<p>Gender : {{ sex }}</p>
		</div>
		<div class="col-md-4">
			<p>Class : {{ class }}</p>
			<p>Age : {{ age }} years old</p>
		</div>
		{{/student}}
		{{# result }}
		<div class="col-md-4">
			<p>Days School Opened : {{ school_opened }}</p>
			<p>Days Present : {{ student_present }}</p>
			<p>Days Absent : {{ student_absent }}</p>
		</div>
		{{/result}}
	</div>
    <div class="row">
        {{# each result}}
        <div class="col-md-9">
            <table class="table table-hover" border="1|0">
                <thead>
                  <tr>
                    <th scope="col">Subjects</th>
                    <th scope="col">CA</th>
                    <th scope="col">EXAM</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">GRADE</th>
                    <th scope="col">1ST</th>
                    <th scope="col">2ND</th>
                    <th scope="col">3RD</th>
                    <th scope="col">SIGN</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td>
                    {{# each subjects }}
                    <p class="subjects"><strong>{{ this }}</strong></p><hr>
                    {{/each}}
                    </td>
                    <td>
                    {{# each ca_score }}
                    <p><strong>{{ this }}</strong></p><hr>
                    {{/each}}
                    </td>
                    <td>
                    {{# each exam_score }}
                    <p><strong>{{ this }}</strong></p><hr>
                    {{/each}}
                    </td>
                    <td>
                    {{# each total }}
                    <p><strong>{{ this }}</strong></p><hr>
                    {{/each}}
                    </td>
                    <td>
                    {{# each grade }}
                    <p><strong>{{ this }}</strong></p><hr>
                    {{/each}}
                    </td>
                    <td>
                    {{# each total }}
                    <p><strong>{{ this }}</strong></p><hr>
                    {{/each}}
                    </td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                  </tr>
                  <tr>
                      <td>  </td>
                      <td><strong>{{ ca_average }}</strong></td>
                      <td><strong>{{ exam_average }}</strong></td>
                      <td><strong>{{ total_average }}</strong></td>
                      <td>  </td>
                      <td><strong>{{ total_average }}</strong></td>
                      <td>  </td>
                      <td>  </td>
                      <td>  </td>
                  </tr>
                </tbody>
                
            </table>
            <div class="row">
                <div class="col-md-8">
                    <p>Remarks :<strong> {{ remark }}</strong></p>
                    <p>Signature: _____________________________</p>
                    <p>Date: ______________</p>
                </div>
                <div class="col-md-2">
                    <small>Key to Grading</small><br>
                    <small>00 - 39 = F</small><br>
                    <small>40 - 49 = E</small><br>
                    <small>50 - 59 = D</small><br>
                    <small>60 - 69 = C</small><br>
                    <small>70 - 79 = B</small><br>
                    <small>80 - 89 = B</small><br>
                </div>
                <div class="col-md-2">
                    <small>Key to Rating</small><br>
                    <small> 5 = Excellent</small><br>
                    <small> 4 = Good</small><br>
                    <small> 3 = Average</small><br>
                    <small> 2 = Fair</small><br>
                    <small> 1 = Poor</small><br>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="col-md-3">
            <table class="table table-hover" border="1|0">
                <thead>
                  <tr>
                    <th scope="col" style="font-size: 12px;">Rating Criteria</th>
                    <th scope="col">5</th>
                    <th scope="col">4</th>
                    <th scope="col">3</th>
                    <th scope="col">2</th>
                    <th scope="col">1</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Attendance</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Activeness</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Concentration</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fluency</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Handwriting</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Honesty</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Neatness</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Perserverance</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Punctuality</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Reliability</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Responsibility</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Self Control</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <div class="result container">
    
</div> -->
