<style type="text/css">
	*{
	    font-family: 'Ubuntu', sans-serif;
	}
	.result-header{
		text-align: center;
		background-color: #C0C0C0;
	}
</style>
<div class="result-header">
	<h3>HONEYLANE SCHOOLS</h3><p>(Government Approved)</p>
	<h4>3, FAVOR STREET, UNITY ESTATE, ABULE EGUN, MOWE, OGUN STATE.</h4>
	<p>Tel.: 08185432167, 08180058182</p>
	<h6>{{# result }}<strong> {{ year }} ACADEMIC SESSION</strong>{{/result}}</h6>
</div>
<div class="container">
	<div class="row">
		{{# student }}
		<div class="col-md-4">
			<p>Name : {{ fullname }}</p>
			<p>Gender : {{ sex }}</p>
		</div>
		<div class="col-md-4">
			<p>Class : {{ class }}</p>
			<p>Age : {{ age }} years old</p>
		</div>
		{{/student}}
		{{# result }}
		<div class="col-md-4">
			<p>Days School Opened : {{ school_opened }}</p>
			<p>Days Present : {{ student_present }}</p>
			<p>Days Absent : {{ student_absent }}</p>
		</div>
		{{/result}}
	</div>
</div>
<div class="result">
	<table class="table table-hover" border="1|0">
        <thead>
          <tr>
            <th scope="col">Subjects</th>
            <th scope="col">CA /40</th>
            <th scope="col">EXAM /60</th>
            <th scope="col">TOTAL /100</th>
            <th scope="col">GRADE</th>
            <th scope="col">1ST TERM</th>
            <th scope="col">2ND TERM </th>
            <th scope="col">3RD TERM </th>
            <th scope="col">SIGNATURE </th>
          </tr>
        </thead>
        {{# each result}}
        <tbody>
          
          <tr>
            <td>
            {{# each subjects }}
            <p>{{ this }}</p><hr>
            {{/each}}
            </td>
            <td>
            {{# each ca_score }}
            <p>{{ this }}</p><hr>
            {{/each}}
            </td>
            <td>
            {{# each exam_score }}
            <p>{{ this }}</p><hr>
            {{/each}}
            </td>
            <td>
            {{# each total }}
            <p>{{ this }}</p><hr>
            {{/each}}
            </td>
            <td>
            {{# each grade }}
            <p>{{ this }}</p><hr>
            {{/each}}
            </td>
            <td>
            {{# each total }}
            <p>{{ this }}</p><hr>
            {{/each}}
            </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
          </tr>
          <tr>
              <td>  </td>
              <td>{{ ca_average }}</td>
              <td>{{ exam_average }}</td>
              <td>{{ total_average }} %</td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td>  </td>
          </tr>
        </tbody>
        {{/each}}
    </table>
</div>
